:root{
    --background: #565B41;
    --links: #422816;
    --hover: #6D4728;
    --bgcontainer: #BBC2A8;
    --title: #565B41;
}

body{
    /* background: #2b2e4a; */
    background:var(--background);
    margin: 0 0;
    padding: 0 0;

    font-family: 'IBM Plex Mono', monospace;
}

ul{
    list-style: none;
}

h1{
    margin: auto auto;
    padding-top: 20px;
    color:#fff;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.5);
}


h2{
    
    text-align: center;
}






i{
    padding: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}


a{
    color: var(--links);
}

a:link{
    text-decoration: none;
}
a:visited{
    color: var(--links);
    
}

a:hover{
    color: var(--hover)
}

.container{
    /* width: 100%;

    border: 1px solid red;
    margin: 0 auto; */
    height: 75vh;
    /* border: 1px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.multimedia, .RedesS, .Escuela{
    margin: 0 10px;
    height: 310px;
    width: 310px;
    display:inline-block;
    /* background-color: #53354a; */
    background: var(--bgcontainer);
    box-shadow: 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
}

.multimedia h2{
    /* color: rgb(225, 255, 118); */
    color: var(--title);
}
.RedesS h2{
    /* color: rgb(162, 162, 255); */
    color: var(--title);
}

.Escuela h2{
    /* color: rgb(210, 163, 255); */
    color: var(--title)
}